<link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.1/css/all.css">
<script>
  window.onload = function() {
    if (localStorage.getItem('wasVisited') == null) {
      localStorage.setItem('wasVisited', 1);
      let body = document.getElementsByTagName('body');
      body[0].classList.add("glitch");
    }
  };
</script>
<main>
  <h1>energee</h1>
  <p>engineer, hacker, early-adopter</p>
  <ul class="social-list">
    <li><a href="https://twitter.com/_energee" target="_blank" class="fab fa-twitter"></a></li>
    <li><a href="https://github.com/energee" target="_blank" class="fab fa-github"></a></li>
    <li><a href="https://medium.com/@energee" target="_blank" class="fab fa-medium"></a></li>
    <li><a href="https://www.drupal.org/u/energee" target="_blank" class="fab fa-drupal"></a></li>
    <li><a href="https://www.instagram.com/tedds" target="_blank" class="fab fa-instagram"></a></li>
    <li><a href="https://shop.energ.ee" target="_blank" class="fas fa-shopping-cart"></a></li>
    <li><a href="https://stackoverflow.com/users/2060284/energee" target="_blank" class="fab fa-stack-overflow"></a></li>
  </ul>
  <a href="https://ts.la/carl17442" target="_blank">Tesla Referral Code</a>
  {{ content }}
</main>
