<link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.1/css/all.css">
<script>
  window.onload = function() {
    if (localStorage.getItem('wasVisited') == null) {
      localStorage.setItem('wasVisited', 1);
      let body = document.getElementsByTagName('body');
      body[0].classList.add("glitch");
    }
  };
</script>
<main>
  <h1>energee</h1>
  <p>engineer, hacker, early-adopter</p>
  <ul class="social-list">
    <li><a class="fab fa-twitter" href="https://twitter.com/_energee"></a></li>
    <li><a class="fab fa-github" href="https://github.com/energee"></a></li>
    <li><a class="fab fa-medium" href="https://medium.com/@energee"></a></li>
    <li><a class="fab fa-drupal" href="https://www.drupal.org/u/energee"></a></li>
    <li><a class="fab fa-instagram" href="https://www.instagram.com/tedds"></a></li>
    <li><a class="fas fa-shopping-cart" href="https://shop.energ.ee"></a></li>
  </ul>
  {{ content }}
</main>
